.App{
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
}

/*Container for the Sidebar and Main components.*/
.appContainer{
	width: 100%;
	height: 92.9%;
	display: flex;
	flex-direction: row;
}

/*Media query for mobile resolutions, changes the original layout into stacked layout.*/
@media (max-width: 400px) {
	.appContainer{
		flex-direction: column;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/