/*I use display:flex in my elements to make the process of aligning items easier*/
.Graph{
	width: 42.5%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline:1px solid #EBEDF8;
}

.mainGraphContainer{
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.graphTitle{
	font-size: 0.9em;
	font-weight: 600;
}

.graphContainer{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*Styles for the bar graph section, also including the follower count*/
.graphContainer1{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.followerText{
	font-size: 0.9em;
	color:#999999;
}

.followerNumber{
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	color: black;
}

.barGraphContainer{
	height: 70%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
}

.barItem{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	font-size: 0.8em;
	color:#999999;
}

.bar{
	width: 1em;
	border-radius: 3px;
}

.bar.colorScheme1{
	background-color: #0077FF;
}

.bar.colorScheme1.altColor{
	background-color: #7FBBFF;
}

.bar.colorScheme2{
	background-color: #F0166D;
}

.bar.colorScheme2.altColor{
	background-color: #F78AB6;
}

/*Styles for the donut graph sectiont*/
.graphContainer2{
	width: 40%;
	height: 100%;
	display: flex;
}

.donutChart{
	width: 100%;
	height: 100%;
}

/*These classes are used to style the elements included by the 'react-donut-chart' package*/
.donutChart-innertext{
	display: none;
}

.donutChart-arcs-path{
	opacity: 1;
}

.donutChart-arcs-path.colorScheme1{
	fill: #0077FF;
}

.donutChart-arcs-path.colorScheme1.altColor{
	fill: #7FBBFF;
}

.donutChart-arcs-path.colorScheme2{
	fill: #F0166D;
}

.donutChart-arcs-path.colorScheme2.altColor{
	fill: #F78AB6;
}

/*Media query for tablet devices, I've used 'iPad' on the Chrome developer console device list as my resolution reference */
@media (max-width: 800px) {
	.Graph{
		width: 100%;
	}
}

/*Media query for mobile devices, I've used 'Galaxy S5' on the Chrome developer console device list as my resolution reference */
@media (max-width: 400px) {

	.followerNumber{
		font-size: 1.2em;
	}

	.bar{
		width: 0.5em;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/