/*I use display:flex in my elements to make the process of aligning items easier*/
.Main{
	width:95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Styles for the title of the page (in this case, "Data overview")*/
.titleContainer{
	width:95%;
	flex-basis: 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.titleText{
	font-size: 120%;
	font-weight: 600;
}

/*Styles for the progress bar on the top right of the page*/
.insertionContainer{
	width: 30%;
	font-size: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.insertionBar{
	height: 5px;
	width: 55%;
	-webkit-appearance: none;
   	appearance: none;
   	border-radius: 50px;
   	color:#0077FF;
}

.insertionBar::-webkit-progress-bar{
  background-color: #EDEFF3;
  border-radius: 5px;
}

.insertionBar::-webkit-progress-value{
  background-color: #0077FF;
  border-radius: 5px;
}

.insertionInfo{
	width: 40%;
}

.insertionNumber{
	font-weight: 600;
}

.insertionText{
	color:#B3B2C9;
}

/*Styles for the central container of the page*/
.infoContainer{
	width:95%;
	flex-basis: 70%;
	outline:1px solid #EBEDF8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*Styles for the page selector and page information at the bottom of the page*/
.pageIndexContainer{
	width:95%;
	flex-basis: 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pageInfo{
	font-size: 80%;
	color:#B3B2C9;
}

.strongPageInfo{
	font-weight: 600;
	color:black;
}

.pageSelector{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 90%;
	color:#B3B2C9;
}

.pageOptionContainer{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.pageOption{
	width: 15px;
	padding:2px 5px;
	margin-left: 5px;
	border:1px solid #B3B2C9;
	border-radius: 10%;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
}

.pageOption.active{
	background-color: #0077FF;
	color: white;
}

.pageSeparator{
	margin-left: 5px;
}

/*Media query for tablet devices, I've used 'iPad' on the Chrome developer console device list as my resolution reference */
@media (max-width: 800px) {
	.titleContainer{
		flex-basis:5%;
		align-items: flex-start;
	}

	.insertionContainer{
		width: 40%;
		height: 60%;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
	}

	.insertionBar, .insertionInfo{
		width: 100%;
	}

	.infoContainer{
		flex-basis: 80%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow-y: scroll;
	}

	.pageIndexContainer{
		flex-basis: 5%;
	}
}

/*Media query for mobile devices, I've used 'Galaxy S5' on the Chrome developer console device list as my resolution reference */
@media (max-width: 400px) {
	.Main{
		width:100%;
		justify-content: flex-start;
		overflow-y: hidden;
	}

	.titleContainer{
		flex-basis:10%;
		align-items: center;
	}

	.titleText{
		font-size: 110%;
	}

	.insertionContainer{
		width: 60%;
		height: 40%;
	}

	.infoContainer{
		flex-basis: 80%;
	}

	.pageIndexContainer{
		flex-basis: 10%;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/