/*I use display:flex in my elements to make the process of aligning items easier*/
.Sidebar{
	width:5%;
	min-width: 45px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #EBEDF8;
}

/*Sidebar link and link container styles*/
.sidebarItemContainer{
	margin-top: 35%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color:#0077FF;
}

.sidebarItemOption{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding:20% 0;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color:#99A3AC;
	text-decoration: none;
	cursor: pointer;
}

/*Active variant of the link*/
.sidebarItemOption.active{
	color: #1880E7;
	border-right: 4px solid #1880E7;
	margin-left: 4px
}

/*Media query for mobile devices, I've used 'Galaxy S5' on the Chrome developer console device list as my resolution reference */
@media (max-width: 400px) {
	.Sidebar{
		width:100%;
		height: 3em;
		flex-direction: row;
		border-bottom: 1px solid #EBEDF8;
	}

	.sidebarItemContainer{
		width: 100%;
		height: 100%;
		margin-top: 0;
		flex-direction: row;
	}

	.sidebarItemOption{
		padding:0 2%;
	}

	.sidebarItemOption.active{
		color: #1880E7;
		border-right:none;
		margin-left:0;
		border-bottom: 4px solid #1880E7;
		margin-top: 4px
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/