/*I use display:flex in my elements to make the process of aligning items easier*/
.SupportRequests{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.supportRequestsTitle{
	height: 20%;
	width: 95%;
	display: flex;
	align-items: center;
	font-size: 120%;
	font-weight: 600;
}

.supportRequestsTableContainer{
	height: 80%;
	width: 95%;
}

.supportRequestsTable{
	width: 100%;
	height: 90%;
}

/*Styles for the tables header row*/
.headerRow{
	height: 20%;
	color:#B4BAC6;
	font-size: 0.7em;
	letter-spacing: 0.1em;
}

.userRow{
	color:#8A96A0;
	font-size: 0.9em;
}

/*Highlight the 'name' column values*/
.userNameCell{
	color:black;
	font-weight: 600;
}

.tableButton{
	width: 55px;
	padding: 5%;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.85em;
	font-weight: 600;
	outline: none;
}

/*Different style for the two types of buttons visible*/
.tableButton.sentRequest{
	background-color:#1371CF;
	color:white;
}

.tableButton.openRequest{
	background-color:white;
	color:#8A96A0;
	border: 1px solid #8A96A0;
}

/*Media query for tablet devices, I've used 'iPad' on the Chrome developer console device list as my resolution reference */
@media (max-width: 800px) {
	.SupportRequests{
		width: 100%;
		height: 20em;
	}

	.userRow{
		font-size: 0.8em;
	}

	.tableButton{
		width:4em;
		padding: 5%;
	}
}

/*Media query for mobile devices, I've used 'Galaxy S5' on the Chrome developer console device list as my resolution reference */
/*Table is scrollable horizontally when viewed from a mobile device.*/
@media (max-width: 400px) {
	.supportRequestsTableContainer{
		display: block;
		overflow-x: scroll;
	}

	.supportRequestsTable{
		border-spacing: 1em 0;
	}

	.userRow{
		white-space: pre;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/