/*I use display:flex in my elements to make the process of aligning items easier*/
.TermTable{
	width: 15%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline:1px solid #EBEDF8;
}

.termContainer{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.term{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 80%;
}

.termKey{
	color:#999999;
	font-weight: 600;
}

.termValue{
	font-weight: 600;
}

/*Media query for tablet devices, I've used 'iPad' on the Chrome developer console device list as my resolution reference */
@media (max-width: 800px) {
	.TermTable{
		width: 100%;
		height: 100%;
	}

	.termContainer{
		height: 8em;
		justify-content: space-around;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/