/*I use display:flex in my elements to make the process of aligning items easier*/
.TopMenu{
	width:100%;
	height: 7%;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #EBEDF8;
}

/*Circle icon container styles*/
.iconContainer{
	margin-left: 1%;
	width: 3%;
	display: flex;
	justify-content: space-around;
	color:#0077FF;
}

/*Styles for the icon and dot inside*/
.circleIcon{
	font-size:40px;
}

.dotSpan{
	position: relative;
	left: 17px;
	bottom:-10px;
}

/*Link and link container styles*/
.menuItemContainer{
	margin-left: 15%;
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.menuItemOption{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	height: 100%;
	display: flex;
	align-items: center;
	color:#99A3AC;
	text-decoration: none;
	cursor: pointer;
}

/*Active variant of the link*/
.menuItemOption.active{
	color: #1880E7;
	border-bottom: 3px solid #1880E7;
	margin-bottom: -3px
}

/*Premium button styles*/
.premiumButtonContainer{
	height: 100%;
	width: 7%;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.premiumButton{
	width:60%;
	min-width: 80px;
	padding: 7% 10%;
	border:none;
	border-radius: 5px;
	color: white;
	background-color: #0077FF;
	cursor: pointer;
	font-weight: 600;
	outline: none;
}

.premiumButton:active{
	background-color:#1371CF;
}

/*Media query for tablet devices, I've used 'iPad' on the Chrome developer console device list as my resolution reference */
@media (max-width: 800px) {
	.menuItemContainer{
		width: 60%;
	}

	.premiumButtonContainer{
		width: 15%;
	}

	.premiumButton{
		min-height: 30px;
	}
}

/*Media query for mobile devices, I've used 'Galaxy S5' on the Chrome developer console device list as my resolution reference */
@media (max-width: 400px) {
	.menuItemOption{
		font-size: 0.8em;
	}

	.premiumButtonContainer{
		width: auto;
	}

	.premiumButton{
		min-height: 25px;
		min-width: 70px;
		font-size: 0.8em;
	}
}

/*JOSE PABLO FERRE LEORINI, FEBRUARY 2020 FOR APPICO FRONTEND DEVELOPER TEST*/